* {
  font-size: 14px;
}

body {
  display: block;
}
.wrapper {
  min-width: 1024px;
  min-height: 720px;
  max-width: 1440px;
  max-height: 1080px;
  margin: 0 auto;
  overflow: hidden;
}

.content {
    overflow: auto;
    max-height: calc(100vh - 230px);
}

.options-container {

  background-color: rgb(0, 255, 0, 0.1);
  display: block;
  min-width: 1024px;
  max-width: 1440px;
  margin-top: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.tab {
  vertical-align: top;
  display: inline-block;
  margin: 2px;
  width: 220px;
  padding: 10px;
}

.tabTitle {
  background-color: rgb(0, 255, 0, 0.3);
  text-align: center;
  font-weight: bold;
  border-bottom: 1px black solid;
}

.red {
  background-color: rgb(255, 0, 0, 0.3);
}

.orange {
  background-color: rgb(255, 165, 0, 0.3);
}

.yellow {
  background-color: rgb(255, 255, 0, 0.3);
}

.green {
  background-color: rgb(0, 255, 0, 0.3);
}


.tdDay {
  white-space: nowrap;
  width: 10px;

}

.tdStudent {
  white-space: nowrap;
}

.cyan {
  background-color: rgba(244, 66, 200, 0.5);
}

.tableHead {
  color: white;
  background-color: green;
  font-weight: bold;
}
