* {
  font-size: 12px;
}

.wrapper {
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.sidebar {
  background-color: rgb(192,192,192);
  /* border: 1px solid green; */
  width: 200px;
  height: 100vh;
  overflow: hidden;
  padding: 10px;
  float: left;
}

.itemTitle {
  font-size: 15px;
}

.checkbox-wrapper {
    padding-left: 40px;
}

.content-wrapper {
  width: calc(100vw - 220px);
  max-height: 100vh;
  overflow: auto;
  float: left;
}










.red {
  background-color: rgba(255, 0, 0, 0.5);
}

.green {
  background-color: rgba(0, 255, 0, 0.5);
}

.yellow {
  background-color: rgba(255, 255, 0, 0.5);
}

.white {
  background-color: rgba(255, 255, 255, 0.5);
}

.blue {
  background-color: rgba(0, 0, 255, 0.5);
}

.tdDay {
  white-space: nowrap;
  width: 10px;

}

.tdStudent {
  white-space: nowrap;
}

.cyan {
  background-color: rgba(244, 66, 200, 0.5);
}

.tableHead {
  color: white;
  background-color: green;
  font-weight: bold;
}
