* {
  box-sizing: content-box;
  display: block;
}

body {
  display: block;
}
.wrapper {
  min-width: 1024px;
}

.options-container {
  background-color: rgb(0, 255, 0, 0.1);
  display: block;
  margin: 0 auto;
  min-width: 1280px;
  max-width: 1280px;
  margin-top: 20px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.tab {
  vertical-align: top;
  display: inline-block;
  margin: 2px;
  width: 220px;
  padding: 10px;
}

.tabTitle {
  background-color: rgb(0, 255, 0, 0.3);
  text-align: center;
  font-weight: bold;
  border-bottom: 1px black solid;
}

.red {
  background-color: rgb(255, 0, 0, 0.3);
}

.orange {
  background-color: rgb(255, 165, 0, 0.3);
}

.yellow {
  background-color: rgb(255, 255, 0, 0.3);
}

.green {
  background-color: rgb(0, 255, 0, 0.3);
}
