/* Common */
html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  position: relative;
}
@font-face {
    font-family: 'Montserrat';
    src: url('/includes/fonts/Montserrat-Light.otf');
    src: url('/includes/fonts/Montserrat-Light.otf') format('opentype');
}

* {
  font-family: 'Montserrat', sans-serif;
}

#nav-main{
  background-color: white;
  width: 100%;
  float: left;
  margin: 0 0 -1 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#nav-main li {
  float: left;
}
#nav-main li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-right: 1px solid #ccc;
}
#nav-main li a:hover {
  color: #c00;
  /* background-color: #fff; */
}

#nav-sub{
  background-color: green;
  width: 100%;
  float: left;
  margin: 0 0 -1 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
}
#nav-sub li {
  float: left;
}
#nav-sub li a {
  font-size: 12px;
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: white;
	border-right: 1px solid #ccc;
}
#nav-sub li a:hover {
	color: #c00;
	/* background-color: #fff; */
}

/* TODO: Fix height adjust to height of the header */
/* TODO: header div to contain nav menu */
.sidebar {
  background-color: rgb(141, 186, 35, 0.7);
  width: auto;
  height: calc(100% - 50px);
  padding: 10px;
  float:left;
}

.options-title {
  font-weight: bold;
  border-bottom: 1px solid #000;
}

.options-input {
  margin-left: 20px;
}

.content-wrapper {
  background-color: rgb(0, 255, 0, 0.2);
  height: calc(100% - 50px);
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
  overflow: auto;
}

table {
  background-color: white;
}
/* Page Specific */
/* Student index.php */
#searchResults {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  overflow-y: auto;
}

#searchResults .table {
  margin-top: -10px;
  z-index: 10;
}

tr#studentInfo:hover {
  background-color: rgb(0, 255, 0, 0.3);
}
#profileResult {
  display: none;
}
#frameOuter {
  background-color: rgb(0, 255, 0, 0.3);
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  display: inline-block;
  max-width: 1024px;
  text-align: center;
}
#frameInner {
  background-color: rgb(255, 255, 255, 1);
  padding: 5px;
  border-radius: 10px 10px 10px 10px;
}

#profile-picture {
  width: 250px;
}

/* Student profile.php */
.profileLabel {
  font-weight: bold;
}

/* Reports */
/* Reports index.php */
.dropdown {
  /* width: 100%; */
  display: inline-block;
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top:34px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 140px;
  background-color: #f9f9f9;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: green;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Reports -> attendance -> section */
.sec-options {
  width: 200px;
  text-align: left;
}

thead {
  font-weight: bold;
  border-top: 1px solid #ccc;
}
